{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe | Quai Antique{% endblock %}

{% block content %}
    <h1 class="text-center text-white">Modification mot de passe</h1>
    <hr>
    <a href="{{ path('account') }}">Retourner sur mon compte</a><br>
    <hr>
    {{ form(form) }}
    <hr>

{% endblock %}