{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
    <!-- Three columns of text below the carousel -->
    <h3 class="text-center text-white">Nos meilleures ventes</h3>
    <p class="text-center text-white">Découvrez les produits les plus vendus</p>
    <div class="row">
        {% for menu in menus %}
            <div class="col-md-3">
                {% include'menu/single_menu.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Le Chef étoilé John Doe. <span class="text-muted">Maitre des saveurs.</span></h2>
            <p class="lead text-white">Le chef John Doe est un artiste culinaire talentueux qui a passé plus de dix ans à perfectionner son art. Il est connu pour sa créativité, sa passion pour les ingrédients frais et sa capacité à créer des plats savoureux et esthétiquement agréables. Il est également un grand défenseur de l'utilisation des produits locaux et saisonniers.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/media/chef.jpg') }}" alt="chef">img
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Produits frais, cuisine de qualité.<span class="text-muted">Des ingrédients de qualité pour des plats exceptionnels.</span></h2>
            <p class="lead text-white">Chez Le Quai Antique, nous attachons une grande importance à la qualité des produits que nous utilisons. Nous sélectionnons soigneusement nos ingrédients auprès de producteurs locaux et artisanaux pour vous offrir une cuisine fraîche et savoureuse. Venez découvrir les saveurs uniques de nos plats.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/media/ingredients.jpg') }}" alt="ingrédients">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Notre équipe, votre satisfaction. <span class="text-muted">Une équipe professionnelle pour des plats raffinés.</span></h2>
            <p class="lead text-white">Notre équipe du Quai Antique est composée de professionnels expérimentés qui mettent tout en œuvre pour vous offrir une expérience culinaire de qualité. Du choix des ingrédients à la préparation des plats, chacun de nos employés s'engage à vous proposer une cuisine raffinée et un service impeccable. Venez découvrir leur savoir-faire lors de votre prochaine visite.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}