{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h2 class="text-white text-center">Reservation</h2>
    <div class="text-white">
        {{ (form(form)) }}
    </div>
{% endblock %}
