body {
    background: rgb(39,40,45);
    background: radial-gradient(circle, rgba(39,40,45,1) 0%, rgba(92,69,69,1) 100%);
}

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

.menu-container {
    margin-bottom: 150px;
}

.menu-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
    margin-top: 5px;
}

.menu-item {
    margin-top: 30px;
    color: #FFFFFF;
}

.menu-item .menu-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.menu-item .menu-price {
    font-size: 14px;
    font-weight: bold;
}

.menu-page-price {
    font-size: 20px;
}

