{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Quai Antique{% endblock %}

{% block content %}
    <h2 class="text-center text-white">Nous contacter</h2>
    <p class="text-center text-white">N'hésitez pas à prendre contact avec nous. Notre équipe vous répondra dans les plus brefs délais.</p>
    <hr>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4 text-center text-white">
            <strong>QUAI ANTIQUE</strong>
            <hr>
            06-06-06-06-06<br>
            16 Place des éléphants, 73000 Chambéry<br>
            contact@quaiantique.website
        </div>
    </div>

    <div class="text-animation">
        <h2>Quai Antique</h2>
    </div>
    <script>
        // Sélection de l'élément avec la classe CSS "text-animation"
        const textElement = document.querySelector('.text-animation');
        // Écouteur d'événement pour le survol de la souris
        textElement.addEventListener('mouseover', function () {
            // Activation de l'animation lorsque la souris survole l'élément
            textElement.style.animationPlayState = 'running';
        });
        // Écouteur d'événement pour la sortie de la souris
        textElement.addEventListener('mouseout', function () {
            // Mise en pause de l'animation lorsque la souris quitte l'élément
            textElement.style.animationPlayState = 'paused';
        });
    </script>
{% endblock %}




