{% extends 'base.html.twig' %}

{% block title %}Menus - Quai Antique{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 pt-4">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h3 class="text-center">Nos produits</h3>

            <div class="row menu-container">
                {% for menu in menus %}
                    <div class="col-md-4 menu-container">
                       {% include'menu/single_menu.html.twig' %}
                    </div>
                {% endfor %}
            </div>
            {% endblock %}
